body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  width: 500px;
  margin: 0 auto;
  padding-top: 50px;

}

.rm {
  background-color: rgb(212, 60, 60);
  border: none;
  border-radius: 50%;
  color:aliceblue
}

.done {
  text-decoration: line-through;
}